body {
	background-color: rgb(230,230,230);
	font-family: Trebuchet MS;
	margin: 0px;
	font-size: 13px;
}
a {
	color: #1F1F1F;
	font-weight: bold;
}
a img{
	border: none;
}
input[type=text], textarea {
	font-family: Arial;
}
/*input[type=submit], input[type=button], input[type=reset] {
	border:1px solid rgb(151,173,196);
	-moz-border-radius:4px;
	color:rgb(151,173,196);
	background-color:rgb(248,248,248);
}
input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover {
	background-color:rgb(255,255,255);
}
input[type=submit][disabled], input[type=button][disabled], input[type=reset][disabled] {
	border:1px solid rgb(190,190,190);
	-moz-border-radius:4px;
	color:rgb(190,190,190);
	background-color:rgb(220,220,220);
}*/


/******** Naviguation ******************************************************************/

body nav#MainNaviguationBar {
	width: 100%;
	height: 24px;
	float: left;
	margin-top: 0px;
	background-color: #505050;
}

body nav#MainNaviguationBar ul {
	width: auto;
	height: 24px;
	float: left;
	margin-left: -30px;
	list-style-type: none;
}

body nav#MainNaviguationBar ul li {
	width: auto;
	height: 24px;
	float: left;
	margin-right: 10px;
	margin-top: -13px;
}
body nav#MainNaviguationBar ul li:hover {
	width: auto;
	height: 24px;
	float: left;
	margin-right: 10px;
	margin-top: -13px;
	background-color: #7A7A7A;
}

body nav#MainNaviguationBar ul li a{
	color: #FFFFFF;
	text-decoration: none;
	float: left;
	margin: 5px 10px 0px;
	font-weight: normal;
}

body nav#MainNaviguationBar ul li input{
	color: #FFFFFF;
	background-color: transparent;
	float: left;
	margin: 5px 10px 0px;
	border:none;
	cursor:pointer;
	padding:0px;
}


/******** Header **********************************************************************/

body header {
	width: 100%;
	height: auto;
	float: left;
}

body header h1{
	float: left;
	margin: 20px;
	font-size: 27px;
	color: #505050;
	text-shadow: 0px 0px 5px #AFAFAF;
}

body header h2{
	float: left;
	margin: 20px;
	font-size: 27px;
	color: #FFFFFF;
	text-shadow: 0px 0px 5px #505050;
}

/******** Menu de navigation droite ****************************************************/

body section nav#RightNaviguation {
	width: 140px;
	height: auto;
	float: right;
	border-left: 3px #505050 solid;
	margin-left: 5px;
	padding-left:15px;
}

body section nav#RightNaviguation  h2 {
	width: 200px;
	height: 10px;
	font-size: 20px;
	color: #505050;
	float: left;
	margin-top: -2px;
}

body section nav#RightNaviguation  ul{
	width: 200px;
	height: auto;
	float: left;
	list-style-type: circle;
}
body section nav#RightNaviguation  ul li{
	width: 200px;
	height: 15px;
	float: left;
	margin-left: -15px;
}
body section nav#RightNaviguation   ul li a{
	color: #505050;
	text-decoration: none;
}


/******** Menu de connexion ************************************************************/

body section nav#RightNaviguation  form{
	width: 200px;
	height: auto;
	float: left;
	margin: 0px;
}

body section nav#RightNaviguation  form label {
	width: 200px;
	height: auto;
	float: left;
	color: #505050;
	margin-top:7px;
}

body section nav#RightNaviguation  form input[type=text], body section nav#RightNaviguation  form input[type=password] {
	width: 126px;
	height: 20px;
	border: 1px #505050 solid;
	float: left;
	color: #505050;
}

body section nav#RightNaviguation  form input[type=submit] {
	float: left;
	margin: 14px 0px 0px 42px;
	color: white;
	background-color: #646464;
	border: 1px solid #646464;
	border-radius: 7px;
}


/******** Corps ************************************************************************/

body section#Body {
	width:100%;
	padding-top: 0px;
	float:left;
}

body section section#MainContent {
	height: auto;
	background-color: rgb(215,215,215);
	color: black;
	font-size: 14px;
	margin:0px 20px;
	padding: 1px 14px 1px 14px;
}

body section section#MainContent.withConnectionPanel {
	margin-right:167px;
}

body section section#MainContent h3 {
	margin: 21px 7px;
	font-size: 22px;
}

body section section#MainContent h4 {
	margin: 14px 20px;
	font-size: 18px;
}



/******** Formulaire et affichage d'une entrée *****************************************/

body section section#MainContent form input[type=submit] {
	width:auto;
	margin:15px auto;
	display:block;
	color: #2F2F2F;
	font-size: 16px;
}

body section section#mainContent div {
	padding:7px;
	margin: 2px 0px;
}

body section section#MainContent div label, body section section#MainContent div h6{
	display:inline-block;
	width: 15%;
	min-height:18px;
	text-align:right;
	color: #2F2F2F;
	font-size: inherit;
	vertical-align:top;
	padding-top:4px;
	margin: 0px;
}
body section section#MainContent div p,
body section section#MainContent div input[type=text],
body section section#MainContent div input[type=email],
body section section#MainContent div input[type=number],
body section section#MainContent div select,
body section section#MainContent div textarea {
	min-height:18px;
	padding: 4px;
	margin: 0px 0.5%;
    width: 80%;
	display:inline-block;
	color: #2F2F2F;

}
body section section#MainContent input, body section section#MainContent select, body section section#MainContent textarea{
    border: solid 1px #E5E5E5;
	border-radius: 3px;
	background: -webkit-gradient(linear, left top, left 25, from(#FAFAFA), color-stop(4%, #EEEEEE), to(#FAFAFA));  
    background: -moz-linear-gradient(top, #FAFAFA, #EEEEEE 1px, #FAFAFA 25px);
	box-shadow: 0px 0px 2px #888888;
}

body section section#MainContent input:hover, body section section#MainContent input:focus,
body section section#MainContent select:hover, body section section#MainContent select:focus,
body section section#MainContent textarea:hover, body section section#MainContent textarea:focus {
	box-shadow: 0px 0px 2px #555555;
	border: 1px solid #D5D5D5;
}

body section#mainContent input[required],
body section#mainContent textarea[required]{
    box-shadow: #FF9900 0px 0px 5px;
    -moz-box-shadow: #FF9900 0px 0px 5px;
    -webkit-box-shadow: #FF9900 0px 0px 5px;
}
body section#mainContent input[required]:hover, body section#mainContent input[required]:focus,
body section#mainContent textarea[required]:hover, body section#mainContent textarea[required]:focus {
    box-shadow: #FF6600 0px 0px 5px;  
    -moz-box-shadow: #FF6600 0px 0px 5px;  
    -webkit-box-shadow: #FF6600 0px 0px 5px;
}

body section#mainContent input[required]:valid,
body section#mainContent textarea[required]:valid {
    box-shadow: #009900 0px 0px 5px;  
    -moz-box-shadow: #009900 0px 0px 5px;  
    -webkit-box-shadow: #009900 0px 0px 5px;  
}

body section#mainContent input[type=email]:invalid, body section#mainContent input.empty, body section#mainContent textarea.empty{
    box-shadow: #FF0000 0px 0px 5px;  
    -moz-box-shadow: #FF0000 0px 0px 5px;  
    -webkit-box-shadow: #FF0000 0px 0px 5px;  
}

body section#mainContent input.empty:-moz-placeholder,  body section#mainContent input.empty::-webkit-input-placeholder {
	color: red;
}





body section section#MainContent div#realised-bar {
	width:80%;
	height:15px;
	border:1px solid rgb(192,192,192);
	margin:10px auto;
	padding:0px;
	position:relative;
	top:0px;
	left:0px;
}

body section section#MainContent div#realised-bar div {
	position:absolute;
	top:0px;
	left:0px;
	padding:0px;
	margin:0px;
	height:15px;
}

body section section#MainContent div#realised-bar div#already-realised {
	background-color:#FFB020;
}

body section section#MainContent div#realised-bar div#realised {
	background-color:rgb(150,220,93);
}




/******** Tableaux de listing des entrées **********************************************/

body section section#MainContent table{
	border-collapse:collapse;
	font-size:12px;
	width:100%;
}

body section section#MainContent table thead, body section section#MainContent table tfoot {
	font-weight:bold;
}

body section section#MainContent table thead a, body section section#MainContent table tfoot a{
	text-decoration:none;
	color:black;
}

body section section#MainContent td{
	padding:5px;
}

#ct_bugs h2{
width: 660px;
height: 2px;
float: left;
margin-left: 20px;
font-size: 17px;
}
#ct_bugs p{
height: auto;
margin-left: 20px;
}

body section section#MainContent thead .bugDesc {
	background-image:url('http://bugs.siteduzero.com/stylesheets/../images/sort_desc.png');
	background-repeat:no-repeat;
	background-position:center left;
	padding-left:12px;
	text-decoration:underline;
}
body section section#MainContent thead .bugAsc {
	background-image:url('http://bugs.siteduzero.com/stylesheets/../images/sort_asc.png');
	background-repeat:no-repeat;
	background-position:center left;
	padding-left:12px;
	text-decoration:underline;
}


.low{
	background-color:rgb(225,225,225);
}
.low:hover{
	background-color:rgb(235,235,235);
}

.normal {
	background-color:rgb(240,240,240);
}
.normal:hover{
	background-color:rgb(250,250,250);
}

.high {
	background-color:rgb(232,213,198);
}
.high:hover {
	background-color:rgb(242,223,208);
}

.urgent {
	background-color:rgb(232,198,198);
}
.urgent:hover {
	background-color:rgb(242,208,208);
}

.resolved {
	background-color:rgb(216,232,198);
}
.resolved:hover{
	background-color:rgb(226,242,208);
}